<header>
  <div class="container">
    <div class="top_line row">
      <div class="col-md-3">
        <div class="logo"><a routerLink="/"><img src="../../assets/images/logo.png"></a></div>
      </div>
      <div class="col-md-6">
        <div class="logo_desc">Lorem ipsum dor amet</div>
      </div>
      <div class="col-md-3">
        <div class="header_contacts">
          <div class="header_phone"><a href="tel:88005553535">8 (800) 555-35-35</a></div>
          <div class="header_email"><a href="tomail:test@mail.ru">test@mail.ru</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="header_menu">
    <div class="container header_menu_cont"> 
      <div class="row">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/catalog">Catalog</a></li>
          <li><a routerLink="/contacts">Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>
  
</header>

