<app-search-input (inputValueChange)=productNameReturn($event) ></app-search-input>
<a routerLink="/categories">Категории</a>
<div class="container">
  <div class="products">
    <div *ngFor="let product of products | search: searchStr" class="col-md-4 product" routerLink="/product/{{product.id}}">
      <div class="product_content" appHover>
        <div class="product_name">{{product.name}}</div>
        <div class="product_desc">{{product.description}}</div>
      </div>
    </div>
  </div>
</div>
